{% load static %}
{% load custom_tags %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <meta name="keywords" content="keyword 1, keyword 2, keyword 3"/>
    <meta name="description" content="HTML."/>
    <title>SISTEMA RPA - GEW</title>
    <!-- Google Font: Source Sans Pro -->
    <link rel="stylesheet"
          href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback"/>
    <!-- Font Awesome -->
    <link rel="stylesheet"
          href="{% static 'adminlte/plugins/fontawesome-free/css/all.min.css' %}"/>
    <!-- Theme style -->
    <link rel="stylesheet" href="{% static 'adminlte/dist/css/adminlte.min.css' %}"/>
    <link rel="stylesheet" href="https://cdn.datatables.net/1.13.2/css/jquery.dataTables.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.2/css/bootstrap.css"/>
    <link rel="stylesheet" href="https://cdn.datatables.net/buttons/2.3.4/css/buttons.bootstrap4.min.css"/>
    <link rel="stylesheet" href="https://cdn.datatables.net/responsive/2.4.0/css/responsive.dataTables.min.css"/>
    
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css" />
    <link href="https://cdn.jsdelivr.net/npm/sweetalert2@11.7.3/dist/sweetalert2.min.css" rel="stylesheet">
    
    {% block header_styles %}{% endblock header_styles %}
    {% block header_scripts %}{% endblock header_scripts %}
  </head>
  <body class="hold-transition sidebar-mini">
    <!-- Site wrapper -->
    <div class="wrapper">
      <!-- Navbar -->
      <nav class="main-header navbar navbar-expand navbar-white navbar-light">
        <!-- Left navbar links -->
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link" data-widget="pushmenu" href="#" role="button"><i class="fas fa-bars"></i></a>
          </li>
        </ul>
      </nav>
      <!-- /.navbar -->
      <!-- Main Sidebar Container -->
      <aside class="main-sidebar sidebar-dark-primary elevation-4">
        <!-- Brand Logo -->
        <a href="#" class="brand-link">
          <img src="{% static 'adminlte/dist/img/AdminLTELogo.png' %}"
               alt="AdminLTE Logo"
               class="brand-image img-circle elevation-3"
               width="auto" height="auto"/>
          <span class="brand-text font-weight-light">RPA - GEW</span>
        </a>
        <!-- Sidebar -->
        <div class="sidebar">
          <!-- Sidebar user (optional) -->
          <div class="user-panel mt-3 pb-3 mb-3 d-flex">
            <div class="image">
              <img src="{% static 'adminlte/dist/img/user2-160x160.jpg' %}"
                   class="img-circle elevation-2"
                   alt="User Image"
                   width="auto" height="auto"/>
            </div>
            <div class="info">
              <a href="#" class="d-block">{{ usuario.Nombres }} {{ usuario.Apellidos }}</a>
            </div>
          </div>
          <!-- Sidebar Menu -->
          <nav class="mt-2">
            <ul class="nav nav-pills nav-sidebar flex-column"
                data-widget="treeview"
                role="menu"
                data-accordion="false">
                {% set_value_page request.path as page %}
                
                {% set_value '' as dashboard_active %}
                {% if page == 'dashboard' %}{% set_value 'active' as dashboard_active %}{% endif %}
              <li class="nav-item">
                <a href="{% get_bo_url 'dashboard' '' %}" class="nav-link {{ dashboard_active }}">
                  <i class="nav-icon fas fa-columns"></i>
                  <p>
                    Dashboard
                  </p>
                </a>
              </li>
              {% set_value '' as usuarios_active %}
              {% if page == 'usuarios' %}{% set_value 'active' as usuarios_active %}{% endif %}
              {% set_value '' as parametros_active %}
              {% if page == 'parametros' %}{% set_value 'active' as parametros_active %}{% endif %}
              {% set_value '' as administracion_active %}
              {% if usuarios_active == 'active' or parametros_active == 'active' %}{% set_value 'active' as administracion_active %}{% endif %}
              <li class="nav-item {% if usuarios_active == 'active' or parametros_active == 'active' %}menu-open{% endif %}">
                <a href="#" class="nav-link {{ administracion_active }}">
                  <i class="nav-icon far fa-plus-square"></i>
                  <p>
                    Administración
                    <i class="fas fa-angle-left right"></i>
                  </p>
                </a>
                <ul class="nav nav-treeview">
                  <li class="nav-item">
                    <a href="{% get_bo_url 'usuarios' '' %}" class="nav-link {{ usuarios_active }}">
                      <i class="far fa-circle nav-icon"></i>
                      <p>
                        Usuarios
                      </p>
                    </a>
                  </li>
                  <li class="nav-item">
                    <a href="{% get_bo_url 'parametros' '' %}" class="nav-link {{ parametros_active }}">
                      <i class="far fa-circle nav-icon"></i>
                      <p>
                        Parámetros
                      </p>
                    </a>
                  </li>
                </ul>
              </li>
              {% set_value '' as empresas_active %}
              {% if page == 'empresas' %}{% set_value 'active' as empresas_active %}{% endif %}
              {% set_value '' as series_active %}
              {% if page == 'series' %}{% set_value 'active' as series_active %}{% endif %}
              {% set_value '' as comprobantes_active %}
              {% if page == 'comprobantes' %}{% set_value 'active' as comprobantes_active %}{% endif %}
              {% set_value '' as vistas_active %}
              {% if empresas_active == 'active' or series_active == 'active' or comprobantes_active == 'active' %}{% set_value 'active' as vistas_active %}{% endif %}
              <li class="nav-item {% if empresas_active == 'active' or series_active == 'active' or comprobantes_active == 'active' %}menu-open{% endif %}">
                <a href="#" class="nav-link {{ vistas_active }}">
                  <i class="nav-icon far fa-plus-square"></i>
                  <p>
                    Vistas
                    <i class="fas fa-angle-left right"></i>
                  </p>
                </a>
                <ul class="nav nav-treeview">
                  <li class="nav-item">
                    <a href="{% get_bo_url 'empresas' '' %}" class="nav-link {{ empresas_active }}">
                      <i class="far fa-circle nav-icon"></i>
                      <p>
                        Empresas
                      </p>
                    </a>
                  </li>
                  <li class="nav-item">
                    <a href="{% get_bo_url 'series' '' %}" class="nav-link {{ series_active }}">
                      <i class="far fa-circle nav-icon"></i>
                      <p>
                        Series
                      </p>
                    </a>
                  </li>
                  <li class="nav-item">
                    <a href="{% get_bo_url 'comprobantes' '' %}" class="nav-link {{ comprobantes_active }}">
                      <i class="far fa-circle nav-icon"></i>
                      <p>
                        Comprobantes
                      </p>
                    </a>
                  </li>
                </ul>
              </li>
              {% set_value '' as ejecutar_active %}
              {% if page == 'proceso' %}{% set_value 'active' as ejecutar_active %}{% endif %}
              {% set_value '' as log_active %}
              {% if page == 'auditoria' %}{% set_value 'active' as log_active %}{% endif %}
              {% set_value '' as procesamiento_active %}
              {% if ejecutar_active == 'active' or log_active == 'active' %}{% set_value 'active' as procesamiento_active %}{% endif %}
              
              <li class="nav-item {% if ejecutar_active == 'active' or log_active == 'active' %}menu-open{% endif %}">
                <a href="#" class="nav-link {{ procesamiento_active }}">
                  <i class="nav-icon far fa-plus-square"></i>
                  <p>
                    Procesamiento
                    <i class="fas fa-angle-left right"></i>
                  </p>
                </a>
                <ul class="nav nav-treeview">
                  <li class="nav-item">
                    <a href="{% get_bo_url 'proceso' '' %}" class="nav-link {{ ejecutar_active }}">
                      <i class="far fa-circle nav-icon"></i>
                      <p>
                        Ejecución manual
                      </p>
                    </a>
                  </li>
                  <li class="nav-item">
                    <a href="{% get_bo_url 'auditoria' '' %}" class="nav-link {{ log_active }}">
                      <i class="far fa-circle nav-icon"></i>
                      <p>
                        Log de actividades
                      </p>
                    </a>
                  </li>
                </ul>
              </li>
              <li class="nav-item">
                <a href="{% get_bo_url 'logout' '' %}" class="nav-link">
                  <i class="nav-icon fas fa-columns"></i>
                  <p>
                    Cerrar Sesión
                  </p>
                </a>
              </li>
            </ul>
          </nav>
          <!-- /.sidebar-menu -->
        </div>
        <!-- /.sidebar -->
      </aside>
      <!-- Content Wrapper. Contains page content -->
      
          
          {% block main_content %}{% endblock main_content %}

        
      <!-- /.content-wrapper -->
      <footer class="main-footer">
        <div class="float-right d-none d-sm-block">
          <b>Versión</b> 1.0.0
        </div>
      </footer>
      <!-- Control Sidebar -->
      <aside class="control-sidebar control-sidebar-dark">
        <!-- Control sidebar content goes here -->
      </aside>
      <!-- /.control-sidebar -->
    </div>
    <!-- ./wrapper -->
    <!-- jQuery -->
    <script src="{% static 'adminlte/plugins/jquery/jquery.min.js' %}"></script>
    <!-- Bootstrap 4 -->
    <script src="{% static 'adminlte/plugins/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
    <!-- AdminLTE App -->
    <script src="{% static 'adminlte/dist/js/adminlte.min.js' %}"></script>
    
    <script src="https://cdn.datatables.net/1.13.2/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.13.2/js/dataTables.bootstrap4.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/2.3.4/js/dataTables.buttons.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/2.3.4/js/buttons.bootstrap4.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/pdfmake.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/vfs_fonts.js"></script>
    <script src="https://cdn.datatables.net/buttons/2.3.4/js/buttons.html5.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/2.3.4/js/buttons.print.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/2.3.4/js/buttons.colVis.min.js"></script>
    <script src="https://cdn.datatables.net/responsive/2.4.0/js/dataTables.responsive.min.js"></script>

    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.7.3/dist/sweetalert2.all.min.js"></script>
    
    {% block footer_styles %}{% endblock footer_styles %}
    {% block footer_scripts %}{% endblock footer_scripts %}
  </body>
</html>
