
{% extends "template/backoffice.html" %}
{% load static %}
{% load custom_tags %}

{% block main_content %}
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-12">
            <h1>AUDITORÍA</h1>
          </div>
          
        </div>
      </div>
      <!-- /.container-fluid -->
    </section>
    <!-- Main content -->
    <section class="content">







      <div class="card card-primary">
        <div class="card-header">
          <h3 class="card-title">Date picker</h3>
        </div>
        <div class="card-body">
          <!-- Date range -->
          <div class="form-group">
            <label>Date range:</label>

            <div class="input-group">
              <div class="input-group-prepend">
                <span class="input-group-text">
                  <i class="far fa-calendar-alt"></i>
                </span>
              </div>
              <input type="text" class="form-control float-right" id="date_range">
            </div>
            <!-- /.input group -->
          </div>
          <!-- /.form group -->
        </div>
        <!-- /.card-body -->
      </div>












        <div class="card">
            <div class="card-header">
            <h3 class="card-title"><B>LOG DE AUDITORÍA</B></h3>

            <div class="card-tools">
                <button type="button" class="btn btn-tool" data-card-widget="collapse" title="Collapse">
                <i class="fas fa-minus"></i>
                </button>
                <button type="button" class="btn btn-tool" data-card-widget="remove" title="Remove">
                <i class="fas fa-times"></i>
                </button>
            </div>







            <div class="card-body">
              <table id="tb_data" class="display responsive nowrap" style="width:100%">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Leido</th>
                        <th>Cargado</th>
                        <th>Archivo Local</th>
                        <th>Fuente</th>
                        <th>Usuario</th>
                        <th>Estado de carga</th>
                        <th>Email Remitente</th>
                        <th>Email Titulo</th>
                        <th>Email Recibido</th>
                        <th>Email Archivo</th>
                        <th>SFTP Ubicación</th>
                        <th>SFTP Archivo</th>
                        <th>SFTP Descarga</th>
                        <th>WS Ejecutado</th>
                        <th>WS Archivo</th>
                    </tr>
                </thead>
              </table>
            
            </div>
            <!-- /.card-body -->
            <div class="card-footer"></div>
            <!-- /.card-footer-->
        </div>
    </section>
    <!-- /.content -->
</div>
{% endblock main_content %}
{% block footer_scripts %}
    
<script src="{% static '/adminlte/plugins/moment/moment.min.js' %}"></script>
<script src="{% static '/adminlte/plugins/inputmask/jquery.inputmask.min.js' %}"></script>
<script src="{% static '/adminlte/plugins/daterangepicker/daterangepicker.js' %}"></script>
<script src="{% static '/adminlte/plugins/dropzone/min/dropzone.min.js' %}"></script>
<script>
  $(document).ready(function () {
    var table;

    $.fn.dataTable.ext.buttons.create = {
      text: 'Nuevo',
      action: function ( e, dt, node, config ) {}
    };
    $('#date_range').daterangepicker();

    $.ajax({
      url: "{% get_api_url 'auditoria' 'get_all' %}",
      method: "POST",
      dataType: "json",
      contentType: 'application/json',
      success: function (response) {
        table = $('#tb_data').DataTable({
                  lengthChange: false,
                  buttons: [ 'copy', 'excel', 'colvis',{ "extend": 'create',"className": 'btn btn-success btn-xs'}],
                  "aaData": response.data,
                  "columns": [
                      { "data": "Id" },
                      { "data": "ReadedAt" },
                      { "data": "LoadedAt" },
                      { "data": "FileSavedLocation" },
                      { "data": "InfoSource" },
                      { "data": "UserExecute" },
                      { "data": "LoadStatus" },
                      { "data": "EmailFrom" },
                      { "data": "EmailTitle" },
                      { "data": "EmailReceivedAt" },
                      { "data": "EmailFileName" },
                      { "data": "SftpLocation" },
                      { "data": "SftpFileName" },
                      { "data": "SftpDownloadedAt" },
                      { "data": "ServiceRequestAt" },
                      { "data": "ServiceFileName" },
                    ]
                });
          table.buttons().container().appendTo( '#tb_data_wrapper .col-md-6:eq(0)', table.table().container());
      },
      failure: function (response) {
        console.log(response);
      }
    });


  });
</script>
*/
{% endblock footer_scripts %}