{% extends "template/backoffice.html" %}

{% block main_content %}
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-12">
            <h1>GESTIÓN DE COMPROBANTES</h1>
          </div>
          
        </div>
      </div>
      <!-- /.container-fluid -->
    </section>
    <!-- Main content -->
    <section class="content">
        <div class="card">
            <div class="card-header">
            <h3 class="card-title"><B>LISTA DE COMPROBANTES</B></h3>

            <div class="card-tools">
                <button type="button" class="btn btn-tool" data-card-widget="collapse" title="Collapse">
                <i class="fas fa-minus"></i>
                </button>
                <button type="button" class="btn btn-tool" data-card-widget="remove" title="Remove">
                <i class="fas fa-times"></i>
                </button>
            </div>
            </div>
            <div class="card-body">
              <table id="tb_data" class="display responsive nowrap" style="width:100%">
                <thead>
                  <tr>
                    <th>ID</th>
                    <th>SupPartyName</th>
                    <th>SupPartyRegName</th>
                    <th>NombreTienda</th>
                    <th>CodigoMall</th>
                    <th>CodigoTienda</th>
                    <th>RucEmisor</th>
                    <th>IdentificadorTerminal</th>
                    <th>NumeroTerminal</th>
                    <th>Serie</th>
                    <th>TipoTransaccion</th>
                    <th>NumeroTransaccion</th>
                    <th>Fecha</th>
                    <th>Hora</th>
                    <th>Cajero</th>
                    <th>Vendedor</th>
                    <th>CusPartyId</th>
                    <th>CusPartyRegName</th>
                    <th>CusPartyRegAddrId</th>
                    <th>CusPartyRegAddrTypeCode</th>
                    <th>CusPartyRegAddrLine</th>
                    <th>CusPartyRegAddrCountry</th>
                    <th>Bonus</th>
                    <th>Moneda</th>
                    <th>MedioPago</th>
                    <th>TotalValorVentaBruta</th>
                    <th>CargosDescuentosGlobal</th>
                    <th>MontoTotalIGV</th>
                    <th>TotalValorVentaNeta</th>
                    <th>NumeroOrdenItem</th>
                    <th>CantidadUnidadesItem</th>
                    <th>CodigoProducto</th>
                    <th>DescripcionProducto</th>
                    <th>PrecioVentaUnitarioItem</th>
                    <th>PrecioTotalItem</th>
                    <th>Email</th>
                    <th>Ciudad</th>
                    <th>Distrito</th>
                    <th>Direccion</th>
                  </tr>
                </thead>
              </table>
            
            </div>
            <!-- /.card-body -->
            <div class="card-footer"></div>
            <!-- /.card-footer-->
        </div>
    </section>
    <!-- /.content -->
</div>
{% endblock main_content %}
{% block footer_scripts %}
<script>

  $(document).ready(function () {
    var table;

    $.fn.dataTable.ext.buttons.create = {
      text: 'Nuevo',
      action: function ( e, dt, node, config ) {
      }
  };

    $.ajax({
      url: "{% get_api_url 'comprobantes' 'get_all' %}",
      method: "POST",
      dataType: "json",
      contentType: 'application/json',
      success: function (response) {
        table = $('#tb_data').DataTable({
                  lengthChange: false,
                  buttons: [ 'copy', 'excel', 'colvis',{ "extend": 'create',"className": 'btn btn-success btn-xs'}],
                  "aaData": response.data,
                  "columns": [
                    { "data": "ID" },
                    { "data": "SupPartyName" },
                    { "data": "SupPartyRegName" },
                    { "data": "NombreTienda" },
                    { "data": "CodigoMall" },
                    { "data": "CodigoTienda" },
                    { "data": "RucEmisor" },
                    { "data": "IdentificadorTerminal" },
                    { "data": "NumeroTerminal" },
                    { "data": "Serie" },
                    { "data": "TipoTransaccion" },
                    { "data": "NumeroTransaccion" },
                    { "data": "Fecha" },
                    { "data": "Hora" },
                    { "data": "Cajero" },
                    { "data": "Vendedor" },
                    { "data": "CusPartyId" },
                    { "data": "CusPartyRegName" },
                    { "data": "CusPartyRegAddrId" },
                    { "data": "CusPartyRegAddrTypeCode" },
                    { "data": "CusPartyRegAddrLine" },
                    { "data": "CusPartyRegAddrCountry" },
                    { "data": "Bonus" },
                    { "data": "Moneda" },
                    { "data": "MedioPago" },
                    { "data": "TotalValorVentaBruta" },
                    { "data": "CargosDescuentosGlobal" },
                    { "data": "MontoTotalIGV" },
                    { "data": "TotalValorVentaNeta" },
                    { "data": "NumeroOrdenItem" },
                    { "data": "CantidadUnidadesItem" },
                    { "data": "CodigoProducto" },
                    { "data": "DescripcionProducto" },
                    { "data": "PrecioVentaUnitarioItem" },
                    { "data": "PrecioTotalItem" },
                    { "data": "Email" },
                    { "data": "Ciudad" },
                    { "data": "Distrito" },
                    { "data": "Direccion" }
                  ]
                });
          table.buttons().container().appendTo( '#tb_data_wrapper .col-md-6:eq(0)', table.table().container());
      },
      failure: function (response) {
        console.log(response);
      }
    });
  });

</script>
{% endblock footer_scripts %}