{% extends "template/backoffice.html" %}

{% block main_content %}
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-12">
            <h1>
              Bienvenido
            </h1>
          </div>
          
        </div>
      </div>
      <!-- /.container-fluid -->
    </section>
    <!-- Main content -->
    <section class="content">
      <div class="d-flex justify-content-center">
        <img src="static/image/Corporacion.png" width="50%" alt="image_arquitectura" >
      </div>
      <br>
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-12">
            <h1 class="h4">
              Arquitectura
            </h1>
          </div>
          
        </div>
      </div>
      <div class="d-flex justify-content-center container">
        <img src="static/image/arquitecture.png" width="100%" alt="image_arquitectura" >
      </div>
    </section>
    <!-- /.content -->
</div>
{% endblock main_content %}