{% extends "template/backoffice.html" %}

{% block main_content %}
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-12">
            <h1>GESTIÓN DE EMPRESAS</h1>
          </div>
          
        </div>
      </div>
      <!-- /.container-fluid -->
    </section>
    <!-- Main content -->
    <section class="content">
        <div class="card">
            <div class="card-header">
            <h3 class="card-title"><B>LISTA DE EMPRESAS</B></h3>

            <div class="card-tools">
                <button type="button" class="btn btn-tool" data-card-widget="collapse" title="Collapse">
                <i class="fas fa-minus"></i>
                </button>
                <button type="button" class="btn btn-tool" data-card-widget="remove" title="Remove">
                <i class="fas fa-times"></i>
                </button>
            </div>
            </div>
            <div class="card-body">
              <table id="tb_data" class="display responsive nowrap" style="width:100%">
                <thead>
                    <tr>
                      <th>Id</th>
                      <th>RazonSocial</th>
                      <th>RUC</th>
                      <th>Password</th>
                      <th>Active</th>
                      <th>Ruta</th>
                      <th>TipoArchivoProceso</th>
                      <th>Correo</th>
                      <th>UsuarioSFTP</th>
                      <th>PasswordSFTP</th>
                      <th>Opciones</th>
                    </tr>
                </thead>
                <tbody>

                </tbody>
              </table>
            
            </div>
            <!-- /.card-body -->
            <div class="card-footer"></div>
            <!-- /.card-footer-->
        </div>
    </section>
    <!-- /.content -->
    <!-- .modal -->
    <div class="modal fade" id="modal-create-empresas">
      <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
          <div class="modal-header">
            <h4 class="modal-title"></h4>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <div class="container">
              <input type="text" hidden id="input-id" />
              <div class="form-group">
                <label for="input-razonsocial">Nombre</label>
                <input type="text" id="input-razonsocial" class="form-control" placeholder="Ingrese el razon social" />
              </div>
              <div class="row">
                <div class="col-6">
                  <div class="form-group">
                    <label for="input-RUC">RUC</label>
                    <input type="number" id="input-RUC" class="form-control" placeholder="Ingrese el RUC" />
                  </div>
                </div>
                <div class="col-6" style="align-self: center;">
                  <div class="form-group">
                    <div class="custom-control custom-switch">
                      <input type="checkbox" class="custom-control-input" id="input-custom-status">
                      <label class="custom-control-label" for="input-custom-status">Estado</label>
                    </div>
                  </div>
                </div>
              </div>
              <div class="form-group">
                <label for="input-password">Contraseña</label>
                <input type="password" id="input-password" class="form-control" placeholder="Ingrese contraseña" />
              </div>
              <div class="row">
                <div class="col-6">
                  <div class="form-group">
                    <label for="input-ruta">Ruta</label>
                    <input type="text" id="input-ruta" class="form-control" placeholder="Ingrese la ruta" />
                  </div>
                </div>
                <div class="col-6">
                  <div class="form-group">
                    <label for="input-tipoarchivoproceso">Tipo de archivo Procesado</label>
                    <input type="text" id="input-tipoarchivoproceso" class="form-control" placeholder="Ingrese tipo de archivo" />
                  </div>
                </div>
              </div>
              <div class="form-group">
                <label for="input-email">Correo</label>
                <input type="email" id="input-email" class="form-control" placeholder="Ingrese el email" />
              </div>
              <div class="row">
                <div class="col-6">
                  <div class="form-group">
                    <label for="input-userSFTP">Usuario SFTP</label>
                    <input type="text" id="input-userSFTP" class="form-control" placeholder="Ingrese el usuario SFTP" />
                  </div>
                </div>
                <div class="col-6">
                  <div class="form-group">
                    <label for="input-passwordSFTP">Contraseña SFTP</label>
                    <input type="password" id="input-passwordSFTP" class="form-control" placeholder="Ingrese la Contraseña SFTP" />
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-6">
                  <div class="form-group">
                    <label for="input-usuario">Usuario Service</label>
                    <input type="text" id="input-usuario" class="form-control" placeholder="Ingrese el usuario Service" />
                  </div>
                </div>
                <div class="col-6">
                  <div class="form-group">
                    <label for="input-clave">Contraseña Service</label>
                    <input type="password" id="input-clave" class="form-control" placeholder="Ingrese la Contraseña Service" />
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="modal-footer justify-content-between">
            <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
            <button type="button" class="btn btn-primary" id="save-empresas">Guardar</button>
          </div>
        </div>
        <!-- /.modal-content -->
      </div>
      <!-- /.modal-dialog -->
    </div>
    <!-- /.modal -->
</div>
{% endblock main_content %}
{% block footer_scripts %}
<script>
  var title_modal = [
    'Crear empresas',
    'Actualizar empresas'
  ];

  var MyHeader = {
    'Content-Type': 'application/json'
  }
  $(document).ready(function () {
    var table;
    $.fn.dataTable.ext.buttons.create = {
      text: 'Nuevo',
      action: function ( e, dt, node, config ) {
        document.querySelector('#modal-create-empresas .modal-title').innerHTML = title_modal[0];
        ClearInput();
        $("#modal-create-empresas").modal("show");
      }
    };
    GetEmpresas();
  });
  
  document.querySelector('#save-empresas').addEventListener('click',()=>{
    SaveEmpresa();
  });

  const GetEmpresas = ()=>{
    $.ajax({
      url: "{% get_api_url 'empresas' 'get_all' %}",
      method: "POST",
      dataType: "json",
      contentType: 'application/json',
      success: function (response) {
        if($.fn.DataTable.isDataTable('#tb_data')) {
          $('#tb_data').DataTable().destroy();
        }
        document.querySelector('#tb_data tbody').innerHTML = '';
        let query = '';
        for(let item of response.data){
          query = `${query}<tr>
              <td>${item.Id}</td>
              <td>${item.RazonSocial}</td>
              <td>${item.RUC}</td>
              <td>${item.Password}</td>
              <td>${item.Active}</td>
              <td>${item.Ruta}</td>
              <td>${item.TipoArchivoProceso}</td>
              <td>${item.Correo}</td>
              <td>${item.UsuarioSFTP}</td>
              <td>${item.PasswordSFTP}</td>
              <td>
                <button class="btn btn-primary" onclick="GetByEmpresa('${item.Id}')" />
                  <i class="fa fa-pencil" aria-hidden="true"></i>
                </button>
                <button onclick="DeleteByEmpresa('${item.Id}')" class="btn btn-danger">
                  <i class="fa fa-trash" aria-hidden="true"></i>
                </button>
              </td>
            </tr>`;
        }
        document.querySelector('#tb_data tbody').innerHTML = query;
        table = $('#tb_data').DataTable({
                  lengthChange: false,
                  buttons: [ 'copy', 'excel', 'colvis',{ "extend": 'create',"className": 'btn btn-success btn-xs'}],
                  /* "aaData": response.data,
                  "columns": [

                  { "data": "Id" },
                  { "data": "RazonSocial" },
                  { "data": "RUC" },
                  { "data": "Password" },
                  { "data": "Active" },
                  { "data": "Ruta" },
                  { "data": "TipoArchivoProceso" },
                  { "data": "Correo" },
                  { "data": "UsuarioSFTP" },
                  { "data": "PasswordSFTP"}
                    ] */
                });
          table.buttons().container().appendTo( '#tb_data_wrapper .col-md-6:eq(0)', table.table().container());
      },
      failure: function (response) {
        console.log(response);
      }
    });
  }
  const SaveEmpresa = async()=>{
    let body = {
      Id:document.querySelector('#input-id').value,
      RazonSocial:document.querySelector('#input-razonsocial').value,
      RUC:document.querySelector('#input-RUC').value,
      Password:document.querySelector('#input-password').value,
      Active:document.querySelector("#input-custom-status").checked ? 1 : 0,
      Ruta:document.querySelector('#input-ruta').value,
      TipoArchivoProceso : document.querySelector('#input-tipoarchivoproceso').value,
      Correo:document.querySelector('#input-email').value,
      UsuarioSFTP:document.querySelector('#input-userSFTP').value,
      PasswordSFTP:document.querySelector('#input-passwordSFTP').value,
      UsuarioService:document.querySelector('#input-usuario').value,
      ClaveService:document.querySelector('#input-clave').value
    }
    let res = await fetch(`{% get_api_url 'empresas' 'save_empresa' %}`,{headers:MyHeader,method:'post',body:JSON.stringify(body)});
    if(res.status == 200){
      let {status,data} = await res.json();
      if(status == 'success'){
        $("#modal-create-empresas").modal("hide");
        GetEmpresas();
        ClearInput();
      }
    }
  }
  const ClearInput = async()=>{
    document.querySelector('#input-id').value = -1;
    document.querySelector('#input-razonsocial').value = null;
    document.querySelector('#input-RUC').value = null;
    document.querySelector('#input-password').value= null;
    document.querySelector("#input-custom-status").checked = false;
    document.querySelector('#input-ruta').value= null;
    document.querySelector('#input-tipoarchivoproceso').value= null;
    document.querySelector('#input-email').value= null;
    document.querySelector('#input-userSFTP').value= null;
    document.querySelector('#input-passwordSFTP').value= null;
    document.querySelector('#input-usuario').value= null;
    document.querySelector('#input-clave').value= null;
  }
  const GetByEmpresa = async(id)=>{
    let body = {
      empresa_id : id
    }
    let res = await fetch(`{% get_api_url 'empresas' 'get_by_id' %}`,{method:'post',headers:MyHeader, body:JSON.stringify(body)})
    if(res.status == 200){
      let {status,data} = await res.json();
      if(status == 'success'){
        //
        ClearInput();
        document.querySelector('#input-id').value = data.Id;
        document.querySelector('#input-razonsocial').value = data.RazonSocial;
        document.querySelector('#input-RUC').value = data.RUC;
        document.querySelector('#input-password').value= data.Password;
        document.querySelector("#input-custom-status").checked = (data.Active == 1 ? true : false);
        document.querySelector('#input-ruta').value= data.Ruta;
        document.querySelector('#input-tipoarchivoproceso').value= data.TipoArchivoProceso;
        document.querySelector('#input-email').value= data.Correo;
        document.querySelector('#input-userSFTP').value= data.UsuarioSFTP;
        document.querySelector('#input-passwordSFTP').value= data.PasswordSFTP;
        document.querySelector('#input-usuario').value= data.UsuarioService;
        document.querySelector('#input-clave').value= data.ClaveService;
        //
        $("#modal-create-empresas").modal("show");
      }
    }
  }
  const DeleteByEmpresa = async(id)=>{
    let body = {
      empresa_id:id
    }
    let res = await fetch(`{% get_api_url 'empresas' 'delete_empresa' %}`,{method:'post', headers:MyHeader, body:JSON.stringify(body)})
    if(res.status == 200){
      let {data,status} = await res.json();
      if(status == 'success'){
        GetEmpresas();
        ClearInput();
      }
    }
  }
</script>
{% endblock footer_scripts %}