{% load static %}
{% load custom_tags %}
<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="utf-8"/>
  <meta name="keywords" content="keyword 1, keyword 2, keyword 3"/>
  <meta name="description" content="HTML."/>
  <meta name="viewport" content="width=device-width, initial-scale=1"/>
  <title>AdminLTE 3 | Log in</title>

  <!-- Google Font: Source Sans Pro -->
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback"/>
  <!-- Font Awesome -->
  <link rel="stylesheet" href="{% static 'adminlte/plugins/fontawesome-free/css/all.min.css' %}"/>
  <!-- icheck bootstrap -->
  <link rel="stylesheet" href="{% static 'adminlte/plugins/icheck-bootstrap/icheck-bootstrap.min.css' %}"/>
  <!-- Theme style -->
  <link rel="stylesheet" href="{% static 'adminlte/dist/css/adminlte.min.css' %}"/>
</head>
<body class="hold-transition login-page">
<div class="login-box">
  <div class="login-logo">
    <a href="#"><b>RPA GEW</b><BR/>ADMINISTRADOR</a>
  </div>
  <!-- /.login-logo -->
  <div class="card">
    <div class="card-body login-card-body">
      <p class="login-box-msg">Utilice sus credenciales empresariales</p>
        <form method="post" action="{% get_bo_url 'login' 'validate' %}">
          {% csrf_token %}
          <div class="input-group mb-3">
            <input name="user" type="text" class="form-control" placeholder="Usuario"/>
            <div class="input-group-append">
              <div class="input-group-text">
                <span class="fas fa-envelope"></span>
              </div>
            </div>
          </div> 
          <div class="input-group mb-3">
            <input name="password" type="password" class="form-control" placeholder="Clave"/>
            <div class="input-group-append">
              <div class="input-group-text">
                <span class="fas fa-lock"></span>
              </div>
            </div>
          </div>
          <div class="row">
            <!-- /.col -->
            <div class="col-12">
              <input type="submit" class="btn btn-primary btn-block" value="Ingresar"/>
            </div>
            <!-- /.col -->
          </div>
        </form>
    </div>
    <!-- /.login-card-body -->
  </div>
</div>
<!-- /.login-box -->

<!-- jQuery -->
<script src="{% static '/adminlte/plugins/jquery/jquery.min.js' %}"></script>
<!-- Bootstrap 4 -->
<script src="{% static '/adminlte/plugins/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
<!-- AdminLTE App -->
<script src="{% static '/adminlte/dist/js/adminlte.min.js' %}"></script>
<!-- Sweet Alert -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/2.1.0/sweetalert.min.js"></script>

<script>
  $(document).ready(function() {
    {% if from_validation %}
      {% if autorize %}
        swal("Bienvenido", '{{ mensaje }}', "success");
        setTimeout(redirect_callback, 1500);
      {% else %}
        swal("No autorizado", '{{ mensaje }}', "error");
      {% endif %}
    {% endif %}
  });
  function redirect_callback() {
    document.location.href = "{% get_bo_url 'dashboard' '' %}";
  }
  //function ValidateAccess(){
  //  var parameters = {
	//    Usuario : $("#user").val(),
	//    Clave : $("#password").val()
  //  }
  //  $.ajax({
  //    type: "POST",
  //    url: "{% get_api_url 'usuarios' 'validate_user' %}",
  //    dataType: "json",
  //    data: parameters,
  //    success: function (data) {
  //      if(data["{% get_api_response_status %}"] = "{% get_api_success %}"){
  //        swal("Bienvenido", "{{ mensaje }}", "success");
  //      }else{
  //        swal("No autorizado", "{{ mensaje }}", "error");
  //      }
  //    },
  //    failure: function (response) {
  //      swal("No autorizado", "No se ha podido realizar la validación de credenciales", "error");
  //      console.log(response);
  //    }
  //  });
  //}

</script>
</body>
</html>
