{% extends "template/backoffice.html" %}

{% block main_content %}
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-12">
            <h1>GESTIÓN DE PARAMETROS</h1>
          </div>
          
        </div>
      </div>
      <!-- /.container-fluid -->
    </section>
    <!-- Main content -->
    <section class="content">
        <div class="card">
            <div class="card-header">
            <h3 class="card-title"><B>LISTA DE PARAMETROS</B></h3>

            <div class="card-tools">
                <button type="button" class="btn btn-tool" data-card-widget="collapse" title="Collapse">
                <i class="fas fa-minus"></i>
                </button>
                <button type="button" class="btn btn-tool" data-card-widget="remove" title="Remove">
                <i class="fas fa-times"></i>
                </button>
            </div>
            </div>
            <div class="card-body">
              <table id="tb_data" class="display responsive nowrap" style="width:100%">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Nombre</th>
                        <th>Descripcion</th>
                        <th>Codigo</th>
                        <th>Valor</th>
                        <th>Opciones</th>
                    </tr>
                </thead>
                <tbody>

                </tbody>
              </table>
            
            </div>
            <!-- /.card-body -->
            <div class="card-footer"></div>
            <!-- /.card-footer-->
        </div>
    </section>
    <!-- /.content -->
    <!-- .modal -->
    <div class="modal fade" id="modal-create-parameters">
      <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
          <div class="modal-header">
            <h4 class="modal-title"></h4>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <div class="container">
              <input type="number" hidden id="input-id" />
              <div class="form-group">
                <label for="input-name">Nombre</label>
                <input type="text" id="input-name" class="form-control" placeholder="Ingrese el nombre" />
              </div>
              <div class="form-group">
                <label for="input-description">Descripcion</label>
                <input type="text" id="input-description" class="form-control" placeholder="Ingrese la descripcion" />
              </div>
              <div class="form-group">
                <label for="input-code">Codigo</label>
                <input type="email" id="input-code" class="form-control" placeholder="Ingrese el codigo" />
              </div>
              <div class="form-group">
                <label for="input-value">Valor</label>
                <input type="text" id="input-value" class="form-control" placeholder="Ingrese el valor" />
              </div>
            </div>
          </div>
          <div class="modal-footer justify-content-between">
            <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
            <button type="button" class="btn btn-primary" id="save-parameter">Guardar</button>
          </div>
        </div>
        <!-- /.modal-content -->
      </div>
      <!-- /.modal-dialog -->
    </div>
    <!-- /.modal -->
</div>
{% endblock main_content %}
{% block footer_scripts %}
<script>
  var MyHeader = {
    'Content-Type': 'application/json'
  }
  var title_modal = [
    'Crear parametro',
    'Actualizar parametro'
  ];

  $(document).ready(function () {
    var table;
    
    document.querySelector('#input-id').value = -1;

    $.fn.dataTable.ext.buttons.create = {
      text: 'Nuevo',
      action: function ( e, dt, node, config ) {
        document.querySelector('#modal-create-parameters .modal-title').innerHTML = title_modal[0];
        clearInputs();
        document.querySelector('#input-id').value = -1;
        $("#modal-create-parameters").modal('show');
      }
    };
    GetParameters();
  });

  document.querySelector('#save-parameter').addEventListener('click',()=>{
    SaveParameters();
  });

  const GetParameters = ()=>{
    $.ajax({
      url: "{% get_api_url 'parametros' 'get_all' %}",
      method: "POST",
      dataType: "json",
      contentType: 'application/json',
      success: function (response) {
        if($.fn.DataTable.isDataTable('#tb_data')) {
          $('#tb_data').DataTable().destroy();
        }
        document.querySelector('#tb_data tbody').innerHTML = '';
        let query = '';
        for(let item of response.data){
          query = `${query}<tr>
              <td>${item.Id}</td>
              <td>${item.Nombre}</td>
              <td>${item.Descripcion}</td>
              <td>${item.Codigo}</td>
              <td>${item.Valor}</td>
              <td>
                <button class="btn btn-primary" onclick="GetById(${item.Id})" />
                  <i class="fa fa-pencil" aria-hidden="true"></i>
                </button>
                <button class="btn btn-danger" onclick="DeleteParameter(${item.Id})" />
                  <i class="fa fa-trash" aria-hidden="true"></i>
                </button>  
              </td>
            </tr>`;
        }
        document.querySelector('#tb_data tbody').innerHTML = query;
        table = $('#tb_data').DataTable({
                  lengthChange: false,
                  buttons: [ 'copy', 'excel', 'colvis',{ "extend": 'create',"className": 'btn btn-success btn-xs'}],
                  /* "aaData": response.data,
                  "columns": [
                      { "data": "Id" },
                      { "data": "Nombre" },
                      { "data": "Descripcion" },
                      { "data": "Codigo" },
                      { "data": "Valor" }
                    ] */
                });
          table.buttons().container().appendTo( '#tb_data_wrapper .col-md-6:eq(0)', table.table().container());
      },
      failure: function (response) {
        console.log(response);
      }
    });
  }

  const clearInputs = ()=>{
    document.querySelector('#input-id').value = -1;
    document.querySelector('#input-name').value = '';
    document.querySelector('#input-description').value = '';
    document.querySelector('#input-code').value = '';
    document.querySelector('#input-value').value = '';
  }
  
  const SaveParameters = async()=>{
    let body = {
      Id : document.querySelector('#input-id').value,
      name : document.querySelector('#input-name').value,
      description : document.querySelector('#input-description').value,
      code : document.querySelector('#input-code').value,
      value : document.querySelector('#input-value').value,
    }
    let res = await fetch(`{% get_api_url 'parametros' 'saveParameter' %}`,{method:`post`,headers:MyHeader,body:JSON.stringify(body)});
    let {status} = res;
    if(status == 200){
      let {status,message, data} = await res.json();
      if(status == 'success'){
        $("#modal-create-parameters").modal('hide');
        Swal.fire(
          'Registrado',
          'Registro Guardado',
          'success'
        );
        clearInputs();
        GetParameters();
      }
    }
  }

  const GetById = async(id)=>{
    let body = {
      parameter_id : id
    }
    let res = await fetch(`{% get_api_url 'parametros' 'get_by_id' %}`,{method:'post',headers:MyHeader,body:JSON.stringify(body)});
    if(res.status == 200){
      let {status,data} = await res.json();
      if(status == 'success'){
        document.querySelector('#modal-create-parameters .modal-title').innerHTML = title_modal[1];
        document.querySelector('#input-id').value = data.Id;
        document.querySelector('#input-name').value = data.Nombre;
        document.querySelector('#input-description').value = data.Descripcion;
        document.querySelector('#input-code').value = data.Codigo;
        document.querySelector('#input-value').value = data.Valor;
        //
        $('#modal-create-parameters').modal('show');
      }
    }
  }

  const DeleteParameter = async(id)=>{
    Swal.fire({
      title: 'Advertencia',
      text: "Desea eliminar este registro de manera permanente?",
      icon: 'warning',
      showCancelButton: true,
      confirmButtonColor: '#3085d6',
      cancelButtonColor: '#d33',
      confirmButtonText: 'Si, eliminar'
    }).then( async (result) => {
      if (result.isConfirmed) {
        let body = {
          parameter_id:id
        }
        let res = await fetch(`{% get_api_url 'parametros' 'delete_by_id' %}`,{method:'post',headers:MyHeader, body:JSON.stringify(body)})
        if(res.status == 200){
          let {data,status,message} = await res.json();
          if(status == 'success'){
            Swal.fire(
              'Eliminado',
              'El registro fue eliminado',
              'success'
            );
            GetParameters();
            return;
          }else{
            Swal.fire(
              'Eliminado',
              'Ocurrio un problema',
              'error'
            );
          }
        }
      }
    });
  }

</script>
{% endblock footer_scripts %}