{% extends "template/backoffice.html" %} {% block main_content %}
{% load static %}
{% load custom_tags %}


<div class="content-wrapper">
	<!-- Content Header (Page header) -->
	<section class="content-header">
		<div class="container-fluid">
			<div class="row mb-2">
				<div class="col-sm-12">
					<h1>PROCESO MANUAL</h1>
				</div>
			</div>
		</div>
		<!-- /.container-fluid -->
	</section>
	<!-- Main content -->
	<section class="content">
		<div class="container-fluid">
			<div class="row">
				<!-- left column -->
        <div class="col-md-6">
					<!-- general form elements -->
					<div class="card card-primary">
						<div class="card-header">
							<h3 class="card-title">EJECUTAR LECTURA DE CORREOS</h3>
						</div>
						<!-- /.card-header -->
						<!-- form start -->
						<form>
							<div class="card-body">
								<div class="form-group">
									<label style="font-weight: normal">El proceso tomará todos los correos no procesados disponibles en la bandeja de entrada o recibidos.</label>
								</div>
							</div>
							<!-- /.card-body -->
							<div class="card-footer">
								<button type="submit" class="btn btn-primary" onclick="EjecutarProcesoEMAIL();return false;">EJECUTAR PROCESO</button>
							</div>
						</form>
					</div>
				</div>
        
				<div class="col-md-6">
					<!-- general form elements -->
					<div class="card card-primary">
						<div class="card-header">
							<h3 class="card-title">EJECUTAR LECTURA SFTP</h3>
						</div>
						<!-- /.card-header -->
						<!-- form start -->
						<form>
							<div class="card-body">
								<div class="form-group">
									<label for="exampleInputEmail1">RUC</label>
									<input
										type="email"
										class="form-control"
										id="inpRUC"
										placeholder="Dejar en blanco para ejecutar para todos los RUC registrados"
									/>
								</div>
								
							</div>
							<!-- /.card-body -->
							<div class="card-footer">
								<button type="submit" class="btn btn-primary" onclick="EjecutarProcesoSFTP();return false;">EJECUTAR PROCESO</button>
							</div>
						</form>
					</div>
				</div>

        <div class="col-md-6">
					<!-- general form elements -->
					<div class="card card-primary">
						<div class="card-header">
							<h3 class="card-title">PROCESAR XML DESCARGADOS</h3>
						</div>
						<!-- /.card-header -->
						<!-- form start -->
						<form>
							<div class="card-body">
                <div class="form-group">
                  <label for="selSource">Fuente</label>
                  <select class="custom-select" id="selSource">
                    <option value="{% get_source_email %}">{% get_source_email %}</option>
                    <option value="{% get_source_sftp %}">{% get_source_sftp %}</option>
                    <option value="{% get_source_service %}">{% get_source_service %}</option>
                  </select>
                </div>
							</div>
							<!-- /.card-body -->

							<div class="card-footer">
								<button type="submit" class="btn btn-primary" onclick="EjecutarProcesoXML();return false;">EJECUTAR PROCESO</button>
							</div>
						</form>
					</div>
				</div>

        

        <div class="col-md-6">
					<!-- general form elements -->
					<div class="card card-primary">
						<div class="card-header">
							<h3 class="card-title">ASIGNAR DATOS DE EMPRESA A COMPROBANTES</h3>
						</div>
						<!-- /.card-header -->
						<!-- form start -->
						<form>
							<div class="card-body">
                <div class="card-body">
                  <div class="form-group">
                    <label style="font-weight: normal">El proceso ejecutará el procedimiento almacenado <b>"USP_ACTUALIZAR_DATOS_COMPROBANTES"</b> que llenara las columnas "CodigoMall", "CodigoTienda", "NombreTienda", "IdentificadorTerminal" y "NumeroTerminal" de la tabla "Comprobantes" en base al "Ruc", "SerieElectronicaFE", "SerieElectronicaBE", "SerieElectronicaNCF", "SerieElectronicaNCB" de la tabla "Series"</label>
                  </div>
                </div>
							</div>
							<!-- /.card-body -->

							<div class="card-footer">
								<button type="submit" class="btn btn-primary" onclick="EjecutarProcesoUpdateData();return false;">EJECUTAR PROCESO</button>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- /.content -->
</div>
{% endblock main_content %} {% block footer_scripts %}
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script>
	$(document).ready(function () {});

  function EjecutarProcesoEMAIL(){
    Swal.fire({
      title: 'EJECUTAR PROCESO EMAIL',
      showCancelButton: true,
      confirmButtonText: 'Procesar',
      showLoaderOnConfirm: true,
      preConfirm: () => {
        return fetch("{% get_bo_url 'api/procesos' 'load_from_email_open' %}")
          .then(response => {
            if (!response.ok) {
              throw new Error(response.statusText);
            }
            Swal.fire({
              position: 'top-end',
              icon: 'success',
              title: 'El proceso se completo de manera exitosa',
              showConfirmButton: false,
              timer: 1500
            })
            console.log(response.json())
          })
          .catch(error => {
            Swal.showValidationMessage(
              'El servicio no se completo de manera exitosa: '+error
            )
          })
      },
      allowOutsideClick: () => !Swal.isLoading()
    })

  }
  function EjecutarProcesoSFTP(){
    ruc = $("#inpRUC").val();
    if(ruc=="") ruc="-"
    Swal.fire({
      title: 'EJECUTAR PROCESO SFTP',
      showCancelButton: true,
      confirmButtonText: 'Procesar',
      showLoaderOnConfirm: true,
      preConfirm: () => {
        return fetch("{% get_bo_url 'api/procesos' 'load_from_sftp_open' %}/ruc/"+ruc)
          .then(response => {
            if (!response.ok) {
              throw new Error(response.statusText);
            }
            Swal.fire({
              position: 'top-end',
              icon: 'success',
              title: 'El proceso se completo de manera exitosa',
              showConfirmButton: false,
              timer: 1500
            })
            console.log(response.json())
          })
          .catch(error => {
            Swal.showValidationMessage(
              'El servicio no se completo de manera exitosa: '+error
            )
          })
      },
      allowOutsideClick: () => !Swal.isLoading()
    })
    
    return false;
  }
  function EjecutarProcesoXML(){
    source = $("#selSource").val();
    Swal.fire({
      title: 'EJECUTAR PROCESO XML',
      showCancelButton: true,
      confirmButtonText: 'Procesar',
      showLoaderOnConfirm: true,
      preConfirm: () => {
        return fetch("{% get_bo_url 'api/procesos' 'process_xmls_open' %}/source/"+source)
          .then(response => {
            if (!response.ok) {
              throw new Error(response.statusText);
            }
            Swal.fire({
              position: 'top-end',
              icon: 'success',
              title: 'El proceso se completo de manera exitosa',
              showConfirmButton: false,
              timer: 1500
            })
            console.log(response.json())
          })
          .catch(error => {
            Swal.showValidationMessage(
              'El servicio no se completo de manera exitosa: '+error
            )
          })
      },
      allowOutsideClick: () => !Swal.isLoading()
    })
  }
  
  function EjecutarProcesoUpdateData(){
    source = $("#selSource").val();
    Swal.fire({
      title: 'EJECUTAR PROCESO XML',
      showCancelButton: true,
      confirmButtonText: 'Procesar',
      showLoaderOnConfirm: true,
      preConfirm: () => {
        return fetch("{% get_bo_url 'api/procesos' 'process_update_data_open' %}")
          .then(response => {
            if (!response.ok) {
              throw new Error(response.statusText);
            }
            Swal.fire({
              position: 'top-end',
              icon: 'success',
              title: 'El proceso se completo de manera exitosa',
              showConfirmButton: false,
              timer: 1500
            })
            console.log(response.json())
          })
          .catch(error => {
            Swal.showValidationMessage(
              'El servicio no se completo de manera exitosa: '+error
            )
          })
      },
      allowOutsideClick: () => !Swal.isLoading()
    })
  }
</script>
{% endblock footer_scripts %}
