{% extends "template/backoffice.html" %}

{% block main_content %}
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-12">
            <h1>GESTIÓN DE SERIES</h1>
          </div>
          
        </div>
      </div>
      <!-- /.container-fluid -->
    </section>
    <!-- Main content -->
    <section class="content">
        <div class="card">
            <div class="card-header">
            <h3 class="card-title"><B>LISTA DE SERIES</B></h3>

            <div class="card-tools">
                <button type="button" class="btn btn-tool" data-card-widget="collapse" title="Collapse">
                <i class="fas fa-minus"></i>
                </button>
                <button type="button" class="btn btn-tool" data-card-widget="remove" title="Remove">
                <i class="fas fa-times"></i>
                </button>
            </div>
            </div>
            <div class="card-body">
              <table id="tb_data" class="display responsive nowrap" style="width:100%">
                <thead>
                    <tr>
                        <th>IdPos</th>
                        <th>RazonSocial</th>
                        <th>Ruc</th>
                        <th>Negocio</th>
                        <th>Ubicacion</th>
                        <th>UserPc</th>
                        <th>VersionWindows</th>
                        <th>SerieElectronicaFE</th>
                        <th>SerieElectronicaBE</th>
                        <th>SerieElectronicaNCF</th>
                        <th>SerieElectronicaNCB</th>
                        <th>CodigoAnexo</th>
                        <th>InfUsuario</th>
                        <th>NombreTienda</th>
                        <th>Carpeta</th>
                        <th>CodigoMall</th>
                        <th>CodigoTienda</th>
                        <th>IdentificadorTerminal</th>
                        <th>NumeroTerminal</th>
                    </tr>
                </thead>
              </table>
            
            </div>
            <!-- /.card-body -->
            <div class="card-footer"></div>
            <!-- /.card-footer-->
        </div>
    </section>
    <!-- /.content -->
</div>
{% endblock main_content %}
{% block footer_scripts %}
<script>

  $(document).ready(function () {
    var table;

    $.fn.dataTable.ext.buttons.create = {
      text: 'Nuevo',
      action: function ( e, dt, node, config ) {
      }
  };

    $.ajax({
      url: "{% get_api_url 'series' 'get_all' %}",
      method: "POST",
      dataType: "json",
      contentType: 'application/json',
      success: function (response) {
        table = $('#tb_data').DataTable({
                  lengthChange: false,
                  buttons: [ 'copy', 'excel', 'colvis',{ "extend": 'create',"className": 'btn btn-success btn-xs'}],
                  "aaData": response.data,
                  "columns": [
                      { "data": "IdPos" },
                      { "data": "RazonSocial" },
                      { "data": "Ruc" },
                      { "data": "Negocio" },
                      { "data": "Ubicacion" },
                      { "data": "UserPc" },
                      { "data": "VersionWindows" },
                      { "data": "SerieElectronicaFE" },
                      { "data": "SerieElectronicaBE" },
                      { "data": "SerieElectronicaNCF" },
                      { "data": "SerieElectronicaNCB" },
                      { "data": "CodigoAnexo" },
                      { "data": "InfUsuario" },
                      { "data": "NombreTienda" },
                      { "data": "Carpeta" },
                      { "data": "CodigoMall" },
                      { "data": "CodigoTienda" },
                      { "data": "IdentificadorTerminal" },
                      { "data": "NumeroTerminal" }

                    ]
                });
          table.buttons().container().appendTo( '#tb_data_wrapper .col-md-6:eq(0)', table.table().container());
      },
      failure: function (response) {
        console.log(response);
      }
    });
  });

</script>
{% endblock footer_scripts %}