{% extends "template/backoffice.html" %}

{% block main_content %}
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-12">
            <h1>GESTIÓN DE USUARIOS</h1>
          </div>
          
        </div>
      </div>
      <!-- /.container-fluid -->
    </section>
    <!-- Main content -->
    <section class="content">
        <div class="card">
            <div class="card-header">
            <h3 class="card-title"><B>LISTA DE USUARIOS</B></h3>

            <div class="card-tools">
                <button type="button" class="btn btn-tool" data-card-widget="collapse" title="Collapse">
                <i class="fas fa-minus"></i>
                </button>
                <button type="button" class="btn btn-tool" data-card-widget="remove" title="Remove">
                <i class="fas fa-times"></i>
                </button>
            </div>
            </div>
            <div class="card-body">
              <table id="tb_data" class="display responsive nowrap" style="width:100%">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Nombres</th>
                        <th>Apellidos</th>
                        <th>Correo</th>
                        <th>Usuario</th>
                        <th>Opciones</th>
                    </tr>
                </thead>
                <tbody>

                </tbody>
              </table>
            
            </div>
            <!-- /.card-body -->
            <div class="card-footer"></div>
            <!-- /.card-footer-->
        </div>
    </section>
    <!-- /.content -->
</div>

<div class="modal fade" id="modal-create-users">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title"></h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="container">
          <input type="number" hidden id="input-id" />
          <div class="form-group">
            <label for="">Nombre</label>
            <input type="text" id="input-name" class="form-control" placeholder="Ingrese el nombre" />
          </div>
          <div class="form-group">
            <label for="">Apellidos</label>
            <input type="text" id="input-lastname" class="form-control" placeholder="Ingrese el Apellidos" />
          </div>
          <div class="form-group">
            <label for="">Correo</label>
            <input type="email" id="input-email" class="form-control" placeholder="Ingrese el email" />
          </div>
          <div class="form-group">
            <label for="">Usuario</label>
            <input type="text" id="input-user" class="form-control" placeholder="Ingrese el Nombre de usuario" />
          </div>
          <div class="form-group">
            <label for="">Contraseña</label>
            <input type="password" id="input-password" class="form-control" placeholder="Ingrese el Contraseña" />
          </div>
        </div>
      </div>
      <div class="modal-footer justify-content-between">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
        <button type="button" class="btn btn-primary" id="save-user">Guardar</button>
      </div>
    </div>
    <!-- /.modal-content -->
  </div>
  <!-- /.modal-dialog -->
</div>
<!-- /.modal -->

{% endblock main_content %}
{% block footer_scripts %}
<script>

  var title_modal = [
    'Crear usuario',
    'Actualizar usuario'
  ];

  var MyHeader = {
    'Content-Type': 'application/json'
  }

  $(document).ready(function () {
    var table;
    document.querySelector('#modal-create-users .modal-title').innerHTML = title_modal[0];
    document.querySelector('#input-id').value = -1;
    $.fn.dataTable.ext.buttons.create = {
      text: 'Nuevo',
      action: function ( e, dt, node, config ) {
        document.querySelector('#modal-create-users .modal-title').innerHTML = title_modal[0];
        ClearUser();
        $("#modal-create-users").modal('show');
      }
  };

    GetUsers();
  });

  document.querySelector('#save-user').addEventListener('click',()=>{
    SaveUser();
  });
  const GetUsers = ()=>{
    $.ajax({
      url: "{% get_api_url 'usuarios' 'get_all' %}",
      method: "POST",
      dataType: "json",
      contentType: 'application/json',
      success: function (response) {
        if($.fn.DataTable.isDataTable('#tb_data')) {
          $('#tb_data').DataTable().destroy();
        }
        document.querySelector('#tb_data tbody').innerHTML = '';
        let query = '';
        for(let item of response.data){
          query = `${query} <tr> 
                          <td>${item.Id}</td>
                          <td>${item.Nombres}</td>
                          <td>${item.Apellidos}</td>
                          <td>${item.Correo}</td>
                          <td>${item.Usuario}</td>
                          <td>
                            <button class="btn btn-primary" onclick="GetUserId(${item.Id})" />
                              <i class="fa fa-pencil" aria-hidden="true"></i>
                            </button>
                            <button onclick="DeleteUser(${item.Id})" class="btn btn-danger">
                              <i class="fa fa-trash" aria-hidden="true"></i>
                            </button>
                          </td>
                          </tr>`;
        }
        document.querySelector('#tb_data tbody').innerHTML = query;
        table = $('#tb_data').DataTable({
                  lengthChange: false,
                  buttons: [ 'copy', 'excel', 'colvis',{ "extend": 'create',"className": 'btn btn-success btn-xs'}],
                  /* "aaData": response.data,
                  "columns": [
                      { "data": "Id" },
                      { "data": "Nombres" },
                      { "data": "Apellidos" },
                      { "data": "Correo" },
                      { "data": "Usuario" },
                      { "data": "" }
                    ] */
                });
        table.buttons().container().appendTo( '#tb_data_wrapper .col-md-6:eq(0)', table.table().container());
      },
      failure: function (response) {
        console.log(response);
      }
    });
  }
  const SaveUser = async()=>{
    let body = {
      Id :document.querySelector('#input-id').value,
      name:document.querySelector('#input-name').value,
      lastname:document.querySelector('#input-lastname').value,
      email:document.querySelector('#input-email').value,
      user:document.querySelector('#input-user').value,
      password:document.querySelector('#input-password').value
    }
    let res = await fetch(`{% get_api_url 'usuarios' 'save_user' %}`,{method:'post',headers:MyHeader, body:JSON.stringify(body)})

    let {status} = res;
    if(status == 200){
      let {} = await res.json();
      Swal.fire(
        'Registrado',
        'Registro Guardado',
        'success'
      );
    }
    GetUsers();
    $("#modal-create-users").modal('hide');
  }

  const GetUserId = async(user_id)=>{
    document.querySelector('#modal-create-users .modal-title').innerHTML = title_modal[1];
    let body = {
      user_id : user_id
    }
    let res = await fetch(`{% get_api_url 'usuarios' 'get_by_id' %}`,{method:'post', headers:MyHeader, body:JSON.stringify(body)})
    let {status} = res;
    if(status == 200){
      ClearUser();
      let {status:status_server,data} = await res.json();
      if(status_server == 'success'){
        document.querySelector('#input-id').value = user_id;
        document.querySelector('#input-name').value =data.Nombres;
        document.querySelector('#input-lastname').value=data.Apellidos;
        document.querySelector('#input-email').value=data.Correo;
        document.querySelector('#input-user').value=data.Usuario;
        document.querySelector('#input-password').value=data.Clave;
        $("#modal-create-users").modal('show');
      }
    }
  }

  const ClearUser = ()=>{
    document.querySelector('#input-id').value = -1;
    document.querySelector('#input-name').value ="";
    document.querySelector('#input-lastname').value="";
    document.querySelector('#input-email').value="";
    document.querySelector('#input-user').value="";
    document.querySelector('#input-password').value="";
  }

  const DeleteUser = async(user_id)=>{
    Swal.fire({
      title: 'Advertencia',
      text: "Desea eliminar este registro de manera permanente?",
      icon: 'warning',
      showCancelButton: true,
      confirmButtonColor: '#3085d6',
      cancelButtonColor: '#d33',
      confirmButtonText: 'Si, eliminar'
    }).then( async (result) => {
      if (result.isConfirmed) {
        let body = {
          user_id:user_id
        }
        let res = await fetch(`{% get_api_url 'usuarios' 'delete_by_id' %}`,{method:'post',headers:MyHeader, body:JSON.stringify(body)})
        if(res.status == 200){
          let {data,status,message} = await res.json();
          if(status == 'success'){
            Swal.fire(
              'Eliminado',
              'El registro fue eliminado',
              'success'
            );
            GetUsers();
            return;
          }else{
            Swal.fire(
              'Eliminado',
              'Ocurrio un problema',
              'error'
            );
          }
        }
      }
    });
  }

</script>
{% endblock footer_scripts %}